asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler
fonttools
greenlet
idna==3.3
kiwisolver
matplotlib
mpmath==1.2.1
munkres==1.1.4
numpy
packaging
Pillow
pyparsing
python-dateutil
pytz
reportlab==3.5.68
requests==2.27.1
six
soupsieve==2.3.1
SQLAlchemy
sqlparse==0.4.2
sympy==1.10
tzdata==2021.5
unicodedata2
urllib3==1.26.9
pandas