<html>
<head>
    <meta charset="UTF-8">
    <style>
        p, h2 {
            color: #7d7d7d;
        }
    </style>
</head>
<body>
<div style="width:100%; display:flex; flex-direction: column; justify-content: center; align-items: center;">
    <a href='https://ifh.cc/v-EM7UWZ' target='_blank'><img src='https://ifh.cc/g/EM7UWZ.png' border='0'></a>
    <h2>Kirct AI Platform 비밀번호 찾기</h2>
    <div style="border: solid 1px #ececec;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;">
        <p>다음의 인증 코드를 입력해 주세요.</p>
        <h2> {{ auth_num }}</h2>
    </div>
</div>
</body>
</html>

