{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="formWrap">
        <p class="login">Password Reset</p><br>
        <form action="" method="post">
            Password   (Please enter at least 6 letters in English or numbers){{ form.password1 }}
            {{ form.password1.errors }}
            Repeat Password {{ form.password2 }}
            {{ form.password2.errors }}
            <div id="verify_div">
                <button type="submit" class="submit-btn-color" id="password_change">Password Change</button>
            </div>
            <input name="pk" type="hidden" value="{{ pk }}">
        </form>
    </div>
{% endblock %}
