{% extends 'aside_menu.html' %}
{% load static %}
{% block menu_content %}
    <div class="contentWrap">
        <div class="viewWrap">
            <form action="" method="post">
                {% csrf_token %}
                <div class="titleWrap">
                    <h1>Profile</h1>
                    <div>
                        <input class="button register-btn-color" type="button" value="Modify" id="modifyBtn">
                        <input class="button-nonColor register-btn-color" type="button" onclick="location.href='{% url "job_user:user_password_change" %}'" value="PW Change">
                    </div>
                </div>
                <div class="titleWrap-table">
                    <div class="content">
                        <label for="id"><strong>ID</strong></label>
                        <input type="text" id="id" value="{{ user.username }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="name"><strong>Name</strong></label>
                        <input type="text" id="name" value="{{ user.name }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="email"><strong>E-mail</strong></label>
                        <input type="text" id="email" value="{{ user.email }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="institution"><strong>Institution</strong></label>
                        <input type="text" id="institution" value="{{ user.institution }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="phoneNumber"><strong>Phone Number</strong></label>
                        <input type="text" id="phoneNumber" value="{{ user.mobile_phone }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="state"><strong>State</strong></label>
                        <input type="text" id="institution" value="{{ user.get_state_display }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="role"><strong>Role</strong></label>
                        <input type="text" id="role" value="{{ user.get_role_display }}" disabled="true"/>
                    </div>
                    <div class="content">
                        <label for="level"><strong>Level</strong></label>
                        <input type="text" id="role" value="{{ user.get_level_display }}" disabled="true"/>
                    </div>
                </div>
                <input type="hidden" name="id" id="id" value="{{ user.id }}" disabled="true"/>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $('#modifyBtn').on('click', function () {
            location.href = "/profile_modify/";
        })
/*         $('#removeBtn').on('click', function () {
            $.ajax({
                url: {% url 'job_user:profile_delete' %},
                type: 'POST',
                data: {"id": "{{user.id}}"},
                dataType: 'text',
                success: function () {
                    console.log('성공');
                },
                error: function () {
                    console.log('삭제 실패');

                }
            })
        }) */


    </script>
{% endblock %}
