{% extends 'aside_menu.html' %}
{% load static %}
{% block menu_content %}
    {#    <script type="text/javascript" src="{% static 'js/job/job_list.js' %}"></script>#}
    <div class="w-100 h-100">
        <div class="row w-100 ml-0 mr-0" style="margin: 90px 0px; padding: 0px 50px;">
            <h1>Job List</h1>
        </div>
        <form class="search" action="{% url 'job_user:job_list' %}">
            {% csrf_token %}
            <select id="search_select" name="search_select">
                <option value="job_name" {% if request.GET.search_select == "job_name" %}selected{% endif %}>Job name</option>
                <option value="module" {% if request.GET.search_select == "module" %}selected{% endif %}>Module</option>
                <option value="smiles" {% if request.GET.search_select == "smiles" %}selected{% endif %}>Smiles</option>
            </select>
            <div class="test" id="job_name_search_div">
                <input type="search" class="SearchContent" name="search_text" placeholder="Search Input"
                       value="{% if request.GET.search_text %}{{ request.GET.search_text }}{% endif %}">
            </div>
            <span><input type="submit" value="Search"></span>
        </form>
        <div class="listWrap" style="padding: 40px 50px;">
          <table class="jobTable">
	    <thead style="border-top: none">
	      <tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th style="text-align: center">
		  <div>
		    <button style="width: 100px; height: 44px;" class="btn btn-primary ml-auto" onclick="location.href='{% url 'job_user:job_register_page' %}'">
		      Register
		    </button>
		  </div>
		</th>		
	      </tr>
	    </thead>
            <thead>	      
              <tr>
                <th style="">#</th>
                <th style="">Job name</th>
                <th style="">Module</th>
                <th style="">Smiles</th>
                <th style="">Running time (sec)</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
              <tr style="cursor:pointer;">
                <th onclick="location.href='{{ job.get_absolute_url }}'">{{ forloop.counter0 | add:page_obj.start_index }}</th>
                <td onclick="location.href='{{ job.get_absolute_url }}'">
                  <div class="dot">{{ job.job_name }}</div>
                </td>
                <td onclick="location.href='{{ job.get_absolute_url }}'">
                  <div class="dot">{{ job.module_api.module.module_name }}</div>
                </td>
                <td onclick="location.href='{{ job.get_absolute_url }}'" >
                  <div class="dot" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ job.smiles }}</div>
                </td>
                <td onclick="location.href='{{ job.get_absolute_url }}'">
                  <div class="dot">
                    {% if job.job_status == 'complete' %}
                    {{ job.get_job_result.result_json.time | floatformat }}
                    {% endif %}
                  </div>
                </td>
                <td style="text-align: center;">
                  <button class="{% if job.job_status == 'complete' %}
                                 button-status completed
                                 {% elif job.job_status == 'waiting' %}
                                 button-status waiting
                                 {% elif job.job_status == 'running' %}
                                 button-status running
                                 {% elif job.job_status == 'fail' %}
                                 button-status fail
                                 {% elif job.job_status == 'stop' %}
                                 button-status stop
                                 {% endif %}">
                    <a {% if job.job_status == 'complete' %}
                       href="{{ job.get_result_url }}">
                      {% else %}
                      href="javascript:alert('Current status is not Complete!');">
                      {% endif %}
                      {{ job.job_status|title }}
                    </a>
                  </button>
                </td>
                <td style="text-align: center;">
                  <button class="button-status fail">
                    <a href="#" onclick="deleteJob('{{ job.job_status }}','{{ job.pk }}')">Delete</a>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Pagination -->
          {% if is_paginated %}
          <div class="page-wrapper">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item prev">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}&job_name={{ request.GET.job_name }}&running={{ request.GET.running }}&complete={{ request.GET.complete }}&fail={{ request.GET.fail }}"
                   tabindex="-1"><img
                                    src="{% static 'img/arrow-prev.png' %}" alt="arrow-prev"></a>
              </li>
              {% else %}
              <li class="page-item prev visibility_hidden">
                <a class="page-link" href="#" tabindex="-1"></a>
              </li>
              {% endif %}
	      
              {% for page in page_range %}
              {% if page == page_obj.number %}
              <li class="page-item active">
                <a class="page-link" style="color:var(--color-white)"
                   href="?page={{ page }}&job_name={{ request.GET.job_name }}&running={{ request.GET.running }}&complete={{ request.GET.complete }}&fail={{ request.GET.fail }}">
                  {{ page }}
                </a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link"
                   href="?page={{ page }}&job_name={{ request.GET.job_name }}&running={{ request.GET.running }}&complete={{ request.GET.complete }}&fail={{ request.GET.fail }}">
                  {{ page }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
	      
              {% if page_obj.has_next %}
              <li class="page-item next">
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}&job_name={{ request.GET.job_name }}&running={{ request.GET.running }}&complete={{ request.GET.complete }}&fail={{ request.GET.fail }}"><img src="{% static 'img/arrow-next.png' %}" alt="arrow-prev"></a>
              </li>
              {% else %}
              <li class="page-item next visibility_hidden">
                <a class="page-link" href="#"></a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
    </div>
    <script>
/*         function fn_select_change() {
            if ($('select[name=search_select]').val() == "job_name") {
                $('#job_name_search_div').css("display", "");
                $('#job_status_search_div').css("display", "none");
            } else {
                $('#job_name_search_div').css("display", "none");
                $('#job_status_search_div').css("display", "");
                $('input[name=job_name]').val('');
            }
        } */

        function deleteJob(status, pk) {
            const jobPk = parseInt(pk);
            if (status === 'complete' || status === 'fail') {
                if (confirm('Are you sure you want to delete the job?')) {
                    $.ajax({
                        url: "/job_delete/",
                        type: 'post',
                        data: {pk: jobPk},
                        datatype: 'json',
                        success: function (data) {
                            location.reload();
                        }


                    })
                }
            } else {
                alert('It can be deleted only when the project status is completed.');
            }
        }

    </script>
{% endblock %}

