{% extends 'aside_menu.html' %}
{% load static %}
{% block menu_content %}
    <div class="formWrap" style="height: 100%">
        <p class="login"><b>Password Change</b></p>
        <form action="" method="post" style="margin-top: 15px;">{% csrf_token %}
            <p style="margin-bottom: 5px;">Password</p> {{ form.password1.errors }} {{ form.password1 }}
            <p style="margin-bottom: 5px;">Repeat Password</p> {{ form.password2.errors }} {{ form.password2 }}
            <div id="verify_div">
                <button type="submit" class="submit-btn-color" id="password_change" style="border-radius: 5px;">Password Change</button>
            </div>
            <input name="pk" type="hidden" value="{{ user.pk }}">
        </form>
        <div class="goback">
            <p><a href="{% url 'job_user:profile' %}">Go Back</a></p>
        </div>
    </div>
                
    <script type="text/javascript">

    </script>

{% endblock %}
