{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="contentWrap">
        <div class="privacyPolicy">
            <div>
                <h1>Privacy policy</h1>
                <div style="width:850px; height:auto;margin: 0 auto;">
                    <p>&nbsp;</p>
                    <p style="line-height: 1.8;">This Privacy Policy (the "Policy") explains the way of treatment of the information which is provided or collected in the Mobile application.<br>Through this Policy, the Company regards personal information of the users as important and inform them of
                        the
                        purpose and method of Company's using the personal information provided by the users and the measures taken by the Company for protection of those personal information.<br>This Policy will be effective on the 20th day of Feb, 2017 and, in case of modification thereof, the
                        Company
                        will make public notice of it through posting it on the bulletin board of Company's website.</p>
                    <p>&nbsp;</p>
                    <p style="line-height: 1.8;">&nbsp; <strong>1. Information to be collected and method of collection</strong>
                        <br>&nbsp;&nbsp; (1) Personal information items to be collected
                        <br>&nbsp;&nbsp;&nbsp; Personal information items to be collected by the Company are as follows:
                        <br>&nbsp;&nbsp;&nbsp; Camera shot image, Internal/external storage read/write authority, Audio recording, Mobile account information, Network usage authority.</p>
                    <p style="line-height: 1.8;">&nbsp;&nbsp; (2) Method of collection<br>&nbsp;&nbsp; &nbsp;The Company collects the information of users in a way of the followings:<br>&nbsp;&nbsp;&nbsp; It is received using the Mobile OS API.</p>
                    <p>&nbsp;</p>
                    <p style="line-height: 1.8;">&nbsp; <strong>2. Use of collected information</strong><br>&nbsp;&nbsp; The Company uses the collected information of users for the following purposes:<br>
                        &nbsp;&nbsp; (1) The camera authority is used to recognize the QR code when P2P type unit is added.<br>
                        &nbsp;&nbsp; (2) The internal/external storage read/write authority is used to store the user configuration information and capture image.<br>
                        &nbsp;&nbsp; (3)Audio recording function is used to transfer user's voice data to DVR with two-way audio function and audio is not stored/transferred in any other ways.<br>
                        &nbsp;&nbsp; (4) Mobile account information is only used for mobile push service and the account information is not stored/transferred in any other ways.<br>
                        &nbsp;&nbsp; (5) Network usage authority is used to connect to DVR via WiFi or LTE.
                    </p>
                    <p style="line-height: 1.8;">&nbsp;</p>
                    <p style="line-height: 1.8;">&nbsp;<strong>3. Retention of Personal Information Collected</strong><br>&nbsp;&nbsp; The company do not store personal information in any way.</p>
                    <p style="line-height: 1.8;">&nbsp;</p>
                    <p style="line-height: 1.8;">&nbsp;<strong>4. Sharing collected information</strong><br>&nbsp;&nbsp; Personal information collected by the Company is not disclosed to anyone.</p>
                    <p style="line-height: 1.8;">&nbsp;</p>
                    <p style="line-height: 1.8;">&nbsp;<strong>5. Modification of Privacy Protection Policy</strong><br>&nbsp;&nbsp; The Company has the right to amend or modify this Policy from time to time and, in such case,&nbsp;the Company will make a public</p>
                    <p style="line-height: 1.8;">&nbsp; &nbsp;notice of it through bulletin board of its website and obtain consent from the users if required by relevant laws.</p>
                    <p style="line-height: 1.8;">&nbsp;</p>
                    <p style="line-height: 1.8;"><strong>&nbsp;6. Responsible department of Company</strong><br>&nbsp;&nbsp; The Company designates the following department and person in charge of personal information in order to protect personal</p>
                    <p style="line-height: 1.8;">&nbsp;&nbsp; information of customers and deal with complaints from customers:<br>&nbsp;&nbsp; Department responsible for privacy protection and customer service :<br>&nbsp;&nbsp; E-mail: <a
                            href="mailto:support@webgateinc.com">support@webgateinc.com</a><br>&nbsp;&nbsp; The latest update date: Feb 20th, 2017</p></div>
            </div>
        </div>
    </div>
    <script>
        new WOW().init();
    </script>
{% endblock %}