{% load static %}
<title>KRICT AI Platform</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=1200"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.1-dist/css/bootstrap.min.css' %}">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugins/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
<script type="text/javascript" src="{% static 'plugins/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/my_prop.css' %}">
<link rel="stylesheet" href="{% static 'css/my_style.css' %}">
<script type="text/javascript" src="{% static 'jsme/jsme.nocache.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my_script.js' %}"></script>

